# APP=DB=Connection
DB_USER=root
DB_PASSWORD=Password880
DB_SERVER=localhost
DB_DRIVER=mysql
DB_NAME=meal_test

# DB_USER=root
# DB_PASSWORD=Password880
# DB_SERVER=localhost
# DB_NAME=test_meal
# DB_DRIVER=mysql

# HRIS=DB=Connection
HRIS_DB_DRIVER="ODBC Driver 17 for SQL Server"
HRIS_DB_SERVER=172.31.31.247
AMH_HRIS_DB_NAME=HMIS-SMH
HRIS_DB_NAME=HMIS-SMH
HRIS_DB_USER=readuser
HRIS_DB_PASSWORD=readP@ssw0rd

# LDAP server URL
LDAP_URL=ldap://smh-dc-05.andalusia.loc

# LDAP user credentials
LDAP_USER='Andalusia\\SMH.Servicedesk'
LDAP_PASSWORD='$erv!ceDesk'

SECRET_KEY=super_secure_secret

LOGFIRE_TOKEN=pylf_v1_us_p2f5RcbqBPCDGLTXrfhYvKK6h4WZc8Z6fkZBPvSpmDvl
LOGFIRE_ENV=production  # or development, staging, etc.

# EMAIL INFORMATION
DOMAIN_USER="Andalusia\\SMH.Servicedesk"
PASSWORD="$erv!ceDesk"
PRIMARY_SMTP_ADDRESS="SMH.Servicedesk@andalusiagroup.net"
SERVER="mail.andalusiagroup.net"
CC_RECIPIENT ="adel.ali@andalusiagroup.net"


# APP=DB=Connection
OLD_DB_USER=root
OLD_DB_PASSWORD=Password880
OLD_DB_SERVER=smh-reports-01.andalusia.loc
OLD_DB_NAME=meal_request
